<nav class="navbar navbar-expand px-3 custom-navbar">
  <a class="navbar-brand" href="#" (click)="goHome($event)">App Manager</a>
  <div class="navbar-nav me-auto">
  </div>
  <div class="navbar-nav">
    <ng-container *ngIf="isLoggedIn; else guestLinks">
      <a class="nav-link" href="#" (click)="logout()">Logout</a>
    </ng-container>
    <ng-template #guestLinks>
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" routerLink="/register">Register</a>
    </ng-template>
  </div>
</nav>

<div class="container py-4" style="max-width: 70%;">
  <router-outlet></router-outlet>
</div>
